@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    background-image: linear-gradient(to right top, #c69dd0, #9babec, #51bbf4, #00c7e0, #09cdb6);  
    color: #fff;
    font-family: 'Courier New', 'Courier', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50.8%;
    left:50.5%;
    transform: translate(-50%,-50%);
}

.numbers {
    position: relative;
    width: 200px;
    height: 100px;
}
.one {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -16px;
    height: 40px;
    width: 20px;
    background: #fff;
    border-radius: 3px;
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.one-1 {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100px;
    width: 24px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rbga(0,0,0,0.2);
}

.zero, .zeroo {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 17px;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 24px solid #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.zeroo{
    z-index: 2;
    left: 100px;
}

.big {
    position: relative;
    display: block;
    font-size: 82px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 6px;
}

.small {
    position: relative;
    display: block;
    font-size: 23px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
}